/* Generic Forms */
div.columns {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: var(--spacing);
}

form {
	border: 1px solid var(--border-color);
	background-color: #eee;
	padding: var(--spacing);
}

form.small {
	max-width: 600px;
	margin: 0 auto;
}

fieldset {
	border: none;
}

div.buttons + p {
	margin: var(--spacing) 0 0;
}

legend {
	display: block;
	font-size: 1.2em;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: var(--spacing);
	width: 100%;
}

label {
	display: block;
	margin-bottom: var(--minimal-spacing);
}

label.optional::after {
	content: ' - Optional';
	color: var(--gray);
	font-style: italic;
	font-size: 0.8em;
}

input[type="radio"] + label {
	display: inline-block;
}

input, select {
	border-radius: 3px;
	border: 1px solid var(--border-color);
	font: 1em var(--font);
	padding: var(--minimal-spacing);
	width: 100%;
}
input[type="password"] + input[type="password"] {
	margin-top: var(--minimal-spacing);
}
div.field::after {
	content: '';
	display: block;
	clear: both;
}
input::placeholder {
	color: var(--border-color);
}

div.field {
	margin-bottom: var(--spacing);
	position: relative;
}

fieldset.collapsed div.fields {
	display: none;
}

fieldset.collapsed legend a {
	font-size: 0.8em;
}

input[type="submit"] {
	background-color: var(--primary);
	color: #fff;
	border: none;
	padding: var(--minimal-spacing) var(--spacing);
	width: auto;
}

p.requirement {
	font-style: italic;
	font-size: 0.6em;
	color: var(--gray);
	margin-bottom: var(--minimal-spacing);
}

form div.errors {
	background-color: #f44336;
	padding: var(--spacing);
	margin-bottom: var(--spacing);
}
form div.errors ul {
	font-weight: bold;
	list-style: none;
}
form div.errors ul ul {
	font-weight: normal;
	margin-left: calc(2*var(--spacing));
	list-style-type: disc;
}

div.input-error {
	background-color: #444;
	padding: calc(2*var(--minimal-spacing));
	position: absolute;
	border-radius: 2px;
	color: #fff;
	font-size: 0.8em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	transform: translateX(calc(-1 * var(--minimal-spacing)));
}
div.input-error::before {
	--size: 7px;
	background-color: transparent;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: var(--size) solid #444;
	position: absolute;
	top: calc(-1 * var(--size));
	left: calc(var(--minimal-spacing) + 2px);
}
input[type="password"]:invalid {
	box-shadow: none;
}
